body {
    color: #fff;
    background-image: radial-gradient(#020024,#790975,#00caff);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}
@keyframes gradient {
    0% {
    background-position: 0% 50%;
    }
    50% {
    background-position: 100% 50%;
    }
    100% {
    background-position: 0% 50%;
    }
    }

#datas{
    text-align: center;
}  
#gen{
    margin-left: 45%;
    background-color: #c22168;
}
#task{
    margin-left: 43%;
    color: #c22168;
}
#add{
    margin-left: 47%;
    background-color: #c22168;
}
p{
    text-align: center;
    color: whitesmoke;
}